* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(43, 41, 41);
}


header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}
nav ul{
  display: flex;
  list-style: none;
}

nav a {
  padding: 16px;
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
nav a:hover{
  color: red;
  background-color: rgb(73, 69, 69);
  transition: all 0.2s ease-in-out
}
 
section p {
  margin-bottom: 20px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-top: 30px;
}

  section {
  max-width: 48em;
  margin: 0 auto;
  padding: 40px 20px;
  margin-bottom: 30px
}
  section p{
  margin: 30px;
  padding: 20px;
  background-color: #444;
  border-radius: 10px;
  color: white;
  font-size: 20;
  max-width: 46em;
  height: 20%;
}
section a{
  margin: 30px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 1px 20px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

@media only screen and (max-width: 440px) {
  nav ul{
    flex-direction: column;
  }
}
